
.button.float {
    animation: top_done 0.7s linear alternate-reverse infinite;
    position: fixed;
    transition: 0.3s;
    visibility: hidden;
    right: 30px;
    bottom: 40px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--blue);
    
  
    &.active {
      visibility: visible;
    }
    &:hover {
      scale: 1.2;
      font-size: 1.3rem;
    }
  
    &.active_ {
      box-shadow: 1px 18px 20px 0px red;
      background-color: rgb(250, 11, 178);
      transform: translateY(-50vh);
    }
  
  }
  
  .button_top{
     position:absolute ;
  }