@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
// @import "./classes.scss";

$Mobile: 480px;
$Tablets: 768px;
$laptops: 1024px;
$Desktops: 1200px;
$screensTv: 1201px;

html {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.1px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

// *,
// *:before,
// *:after {
//   box-sizing: inherit;
// }

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #000;
  --secondary: rgb(24 24 27);
  --border: rgba(63, 63, 70, 0.4);

  --title: rgb(244 244 245);
  --title-alpha: rgba(244, 244, 245, 0.247);
  --subtitle: rgb(161 161 170);
  --subIcon: #b94cd2;

  --bgHeader: rgb(39, 39, 42);
  --blue: rgb(93, 188, 252);

  --icon: rgb(161 161 170);
  --icon-hover: #d4d4d8;

  --container-padding: 4.8rem;
  --container-margin: 4.8rem;
}

.light {
  --primary: rgb(250, 250, 250);
  --secondary: rgb(255, 255, 255);
  --border: rgba(202, 202, 202, 0.518);

  --title: rgb(39 39 42);
  --title-alpha: rgba(55, 55, 58, 0.219);
  --subtitle: rgb(82 82 91);
  --subIcon: #9e28fb;

  --bgHeader: rgb(253, 253, 253);
  --blue: rgb(0, 149, 246);

  --icon-hover: #333;
}

body {
  background-color: var(--primary);
  color: #fff;
}

ul {
  list-style: none;
}

button {
  all: unset;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

@mixin mobile {
  @media (max-width: #{$Mobile}) {
    @content;
  }
}
@mixin Tablets-max {
  @media (max-width: #{$Tablets}) {
    @content;
  }
}
@mixin Tablets {
  @media (min-width: #{$Mobile + 1}) and  (max-width: #{$Tablets}) {
    @content;
  }
}
@mixin laptops {
  @media (min-width: #{$Tablets + 1}) and (max-width: #{$laptops}) {
    @content;
  }
}

@include mobile {
  body {
    --container-padding: 1rem;
    --container-margin: 1rem;
  }
}
@include Tablets {
  body {
    --container-padding: 2rem;
    --container-margin: 2rem;
  }
}
@include laptops {
  body {
    --container-padding: 2rem;
    --container-margin: 2rem;
  }
}



